[data]
{{- if eq .chezmoi.os "darwin" -}}
    {{- $computerName := output "scutil" "--get" "ComputerName" | trim -}}
    {{- if eq $computerName "Jeremy’s Work MacBook" }}
    email = "jeremy.tweddle@shopify.com"
    {{- else }}
    email = "jeremy@breams.net"
    {{- end }}
{{- else }}
    email = "jeremy.tweddle@shopify.com"
{{- end }}
