{{ $hostname := output "hostname" "-s" | trim -}}
# Set VSCode as default handler for all specified source code files
#
# bundle id		UTI/ext/MIME type	role

org.videolan.vlc      .avi   all
org.videolan.vlc      .mkv   all

com.googlecode.iterm2  .command  all

{{ if eq $hostname "Jeremys-Work-MacBook" -}}
com.todesktop.230313mzl4w4u92  .config      all
com.todesktop.230313mzl4w4u92  .css         all
com.todesktop.230313mzl4w4u92  .csv         all
com.todesktop.230313mzl4w4u92  .htaccess    all
com.todesktop.230313mzl4w4u92  .js          all
com.todesktop.230313mzl4w4u92  .json        all
com.todesktop.230313mzl4w4u92  .jsx         all
com.todesktop.230313mzl4w4u92  .less        all
com.todesktop.230313mzl4w4u92  .log         all
com.todesktop.230313mzl4w4u92  .md          all
com.todesktop.230313mzl4w4u92  .php         all
com.todesktop.230313mzl4w4u92  .php5        all
com.todesktop.230313mzl4w4u92  .php7        all
com.todesktop.230313mzl4w4u92  .pl          all
com.todesktop.230313mzl4w4u92  .pm          all
com.todesktop.230313mzl4w4u92  .properties  all
com.todesktop.230313mzl4w4u92  .py          all
com.todesktop.230313mzl4w4u92  .rb          all
com.todesktop.230313mzl4w4u92  .rc          all
com.todesktop.230313mzl4w4u92  .sass        all
com.todesktop.230313mzl4w4u92  .scss        all
com.todesktop.230313mzl4w4u92  .sh          all
com.todesktop.230313mzl4w4u92  .ts          all
com.todesktop.230313mzl4w4u92  .tsx         all
com.todesktop.230313mzl4w4u92  .txt         all
com.todesktop.230313mzl4w4u92  .xml         all
com.todesktop.230313mzl4w4u92  .yaml        all
com.todesktop.230313mzl4w4u92  .yml         all

com.todesktop.230313mzl4w4u92  public.css            all
com.todesktop.230313mzl4w4u92  public.json           all
com.todesktop.230313mzl4w4u92  public.perl-script    all
com.todesktop.230313mzl4w4u92  public.php-script     all
com.todesktop.230313mzl4w4u92  public.plain-text     all
com.todesktop.230313mzl4w4u92  public.python-script  all
com.todesktop.230313mzl4w4u92  public.ruby-script    all
com.todesktop.230313mzl4w4u92  public.script         all
com.todesktop.230313mzl4w4u92  public.shell-script   all
com.todesktop.230313mzl4w4u92  public.source-code    all
com.todesktop.230313mzl4w4u92  public.text           all
com.todesktop.230313mzl4w4u92  public.xhtml          all
com.todesktop.230313mzl4w4u92  public.xml            all

com.todesktop.230313mzl4w4u92  com.netscape.javascript-source  all
{{- else }}
com.microsoft.VSCode  .config      all
com.microsoft.VSCode  .css         all
com.microsoft.VSCode  .csv         all
com.microsoft.VSCode  .htaccess    all
com.microsoft.VSCode  .js          all
com.microsoft.VSCode  .json        all
com.microsoft.VSCode  .jsx         all
com.microsoft.VSCode  .less        all
com.microsoft.VSCode  .log         all
com.microsoft.VSCode  .md          all
com.microsoft.VSCode  .php         all
com.microsoft.VSCode  .php5        all
com.microsoft.VSCode  .php7        all
com.microsoft.VSCode  .pl          all
com.microsoft.VSCode  .pm          all
com.microsoft.VSCode  .properties  all
com.microsoft.VSCode  .py          all
com.microsoft.VSCode  .rb          all
com.microsoft.VSCode  .rc          all
com.microsoft.VSCode  .sass        all
com.microsoft.VSCode  .scss        all
com.microsoft.VSCode  .sh          all
com.microsoft.VSCode  .ts          all
com.microsoft.VSCode  .tsx         all
com.microsoft.VSCode  .txt         all
com.microsoft.VSCode  .xml         all
com.microsoft.VSCode  .yaml        all
com.microsoft.VSCode  .yml         all

com.microsoft.VSCode  public.css            all
com.microsoft.VSCode  public.json           all
com.microsoft.VSCode  public.perl-script    all
com.microsoft.VSCode  public.php-script     all
com.microsoft.VSCode  public.plain-text     all
com.microsoft.VSCode  public.python-script  all
com.microsoft.VSCode  public.ruby-script    all
com.microsoft.VSCode  public.script         all
com.microsoft.VSCode  public.shell-script   all
com.microsoft.VSCode  public.source-code    all
com.microsoft.VSCode  public.text           all
com.microsoft.VSCode  public.xhtml          all
com.microsoft.VSCode  public.xml            all

com.microsoft.VSCode  com.netscape.javascript-source  all
{{- end }}
